<div class="list-wrapper">
	<ul>
		<li *ngFor="let user of userList">
			<div>
				<div class="avatar">
					<app-person-avatar [avatarUrl]="user.avatar"
					></app-person-avatar>
				</div>
				<div class="who">
					<div class="name">
					{{ user.name }}
					</div>
					<div *ngIf="user.providerName" class="provider">
						{{user.providerName}}
					</div>
				</div>
			</div>
			<div>
				<div class="accessLevel">
					{{ user.accessLevel }}
				</div>
				<div class="action">
				   	<div gui type="dropdown"
					   	[inputs]="{
					   	  	buttonIcon: 'mu mu-opts-v',
					   	  	items: menuItems
					   	}"
					   	[outputs]="{
							itemSelected: onItemSelect.bind(this, user)
					 	}"
				   	></div>
				</div>
			</div>
		</li>
	</ul>	
</div>
