<div class="login-container">
	<form (ngSubmit)="onLogin()" class="form-login">

		<label for="login-input-user" class="login__label">
			Логин
		</label>
		<input id="login-input-user" class="login__input"  [(ngModel)]="username" name="username" type="text" />
		<label for="login-input-password" class="login__label">
			Пароль
		</label>
		<input id="login-input-password" class="login__input"  [(ngModel)]="password" name="password" type="password" />

		<button class="login__submit" type="submit">Войти</button>
	</form>
</div>
