
  <input gui type="radio"
    [inputs]="{
      label: 'Источник',
      options: ['Локальный', 'Внешний'],
      value: true
    }"
    [outputs]="{valueChange: providerTypeOnChange.bind(this)}"
  >

<ng-container *ngIf="(providers$ | async)">
  
 <ng-container *ngIf="providerType">
    <select gui
      [inputs]="{
        options$: providers$,
        value: provider$
      }"
      [outputs]="{valueChange: providerOnChange.bind(this)}"
    ></select>

    <div class="space"></div>

    <select gui
      [inputs]="{
        options: users,
      }"
      [outputs]="{valueChange: userOnChange.bind(this)}"
    ></select>
  </ng-container>  

  <div class="space"></div>

</ng-container>