
  <div class="login-container">
    <ng-container *ngIf="(isLoaderVisible$ | async) === true">
      <div class="loader-backdrop-container">
        <app-dynamic-component [componentName]="'LoadingComponent'"></app-dynamic-component>
      </div>
    </ng-container>

    <form (ngSubmit)="onLogin()" class="form-login">

      <ng-container *ngIf="(providers$ | async)?.length">
        <label for="provider" class="login__label">
          Источник
        </label>

        <div class="switch_box box_1">
          <div class="switch_box_value">
            {{ providerType ? 'Внешний' : 'Локальный'}}
          </div>
          <input type="checkbox" class="switch_1" [checked]="providerType"
          (change)="providerOnChange($event)">
        </div>
        <ng-container *ngIf="providerType">
          <select id="provider" class="login__input" [(ngModel)]="provider" name="provider">
            <option *ngFor="let item of (providers$ | async)" [value]="item.id">
              {{ item.name }}
            </option>
          </select>
        </ng-container>
        
      </ng-container>

      <label for="login-input-user" class="login__label">
        Логин
      </label>
      <input id="login-input-user" class="login__input"  [(ngModel)]="username" name="username" type="text" />
      <label for="login-input-password" class="login__label">
        Пароль
      </label>
      <input id="login-input-password" class="login__input"  [(ngModel)]="password" name="password" type="password" />

      <button class="login__submit" type="submit">Войти</button>

      <div class="messageWrapper">
        <ng-container *ngIf="(formMessage$ | async) as message">
          <div class="message"
          *ngIf="message.action === 'DISPLAY_ERROR'"
          >{{ message.payload?.['message'] }}</div>
        </ng-container>
      </div> 
      <button class="login__default-btn" type="button" [routerLink]="routerPath">Регистрация</button>
    </form>

    
  </div>
  <button class="over" (click)="profile()">profile</button>
  <button class="over" (click)="logOut()">log out</button>
  <button class="over" (click)="register()">register</button>