  <div class="login-container">
    <ng-container *ngIf="(isLoaderVisible$ | async) === true">
      <div class="loader-backdrop-container">
        <!-- <app-dynamic-component [componentName]="'LoadingComponent'"></app-dynamic-component> -->
      </div>
    </ng-container>

    <form class="form-login">

      <ng-container *ngIf="(providers$ | async)?.length">

        <!-- <app-web-component-wrapper
          [componentName]="'gui-toggle'"
          [inputs]="{
            label: 'Источник',
            options: ['Локальный', 'Внешний']
          }"
          [outputs]="{valueChange: providerTypeOnChange.bind(this)}"
        ></app-web-component-wrapper> -->

        <ng-container *ngIf="!providerType">
          <select
          gui
          [inputs]="{
            label: 'Источник',
            options$: providers$,
              value: provider 
          }"
          [outputs]="{valueChange: providerTypeOnChange.bind(this)}"
        ></select>
          <!-- <select gui name="ee" id="ee" label='Источник' [value]="provider">
            <option *ngFor="let item of (providers$ | async)" [value]="item.id">
              {{ item.name }}
            </option>
          </select> -->

          <!-- <app-web-component-wrapper
            [componentName]="'gui-select'"
            [inputs]="{
              label: 'Источник',
              options$: providers$,
              value: provider
            }"
            [outputs]="{valueChange: providerOnChange.bind(this)}"
          ></app-web-component-wrapper> -->

        </ng-container>
        
      </ng-container>

      <!-- <app-web-component-wrapper
        [componentName]="'gui-input'"
        [inputs]="{
          label: 'Логин',
          value: username
        }"
        [outputs]="{valueChange: loginOnChange.bind(this)}"
      ></app-web-component-wrapper>

      <app-web-component-wrapper
        [componentName]="'gui-input'"
        [inputs]="{
          label: 'Пароль',
          type: 'password',
          value: password
        }"
        [outputs]="{valueChange: passwordOnChange.bind(this)}"
      ></app-web-component-wrapper>

      
      <app-web-component-wrapper
        [componentName]="'gui-button'"
        [inputs]="{
          label: 'Войти',
          type: 'submit'
        }"
        [outputs]="{valueChange: onLogin.bind(this)}"
      ></app-web-component-wrapper>

      <div class="messageWrapper">
        <ng-container *ngIf="(formMessage$ | async) as message">
          <div class="message"
          *ngIf="message.action === 'DISPLAY_ERROR'"
          >{{ message.payload?.['message'] }}</div>
        </ng-container>
      </div> 
      
      <app-web-component-wrapper
        [componentName]="'gui-button'"
        [inputs]="{
          label: 'Регистрация',
          routerLink: routerPath
        }"
      ></app-web-component-wrapper> -->
    </form>

    
  </div>
  <button class="over" (click)="profile()">profile</button>
  <button class="over" (click)="logOut()">log out</button>
  <button class="over" (click)="register()">register</button>


  <!-- ok its good (if its working, i did not check)
add in  directive:
if someCondition (calculated in provided GuiService) is true- use custom select, if not - use native
make similar directives for input, checkbox, radiobutton, textarea and button -->